/* Header */
#header {position: fixed; width: 100%; z-index: 700;}
#hd_logo {position: absolute; top: 0; left: 70px; z-index: 10; height: 100px; line-height: 100px;}

#hd_logo img {width: 250px;}
#hd_gnb .depth1 {display: flex; flex-flow: row wrap; justify-content: center; align-items: flex-start; gap: 80px;}
#hd_gnb .depth1 > li {position: relative;}
#hd_gnb .depth1 > li > a {display: flex; height: 100px; align-items: center; font-size: 18px; font-weight: 500; color: #fff;}
#hd_gnb .depth2 {overflow: hidden; display: none; position: absolute; top: 70px; left: 50%; width: 200px; margin-left: -100px; padding: 13px 0; border-radius: 10px; background: #2ea9a9; text-align: center;}
#hd_gnb .depth2 > li > a {display: block; padding: 8px; font-size: 18px; font-weight: 400; color: #fff;}

#hd_gnb .depth1 > li:hover .depth2 {display: block;}

.hd_mb {position: absolute; top: 28px; right: 70px; z-index: 10;}
.hd_mb-btn {display: block; padding: 11px 15px; border-radius: 5px; font-size: 16px; font-weight: 400; color: #fff; background: #2ea9a9;}
.hd_mb-btn img {width: 24px; margin: -2px 2px 0 0;}

#header.black #hd_gnb .depth1 > li > a {color: #0f0f0f;}

/* Footer */

/* Main */
.main_section01 .sec_in {height: 100%;}
.main_visual-slider {height: 100%;}
.main_visual-slider .swiper-wrapper {height: 100%;}
.main_visual-item {height: 100%; background: url('/ktla-dev/source/img/main-visual-bg1.jpg') no-repeat center/cover;}
.main_visual_ct {display: flex; height: 100%; justify-content: center; align-items: center; text-align: center;}
.main_visual_ct .inner {margin-top: -8%;}
.main_visual_ct .small-txt {margin-bottom: 20px; font-size: 20px; font-weight: 400; color: #fff;}
.main_visual_ct .big-txt {font-size: 76px; font-weight: 500; color: #fff; line-height: 1.26;}
.main_visual_ct .big-txt strong {font-weight: 800;}

.main_visual-slider .swiper-arrow {display: block; position: absolute; top: 50%; z-index: 50; width: 120px; height: 120px; margin-top: -4.5%; border: 0; border-radius: 50%; opacity: 1; transition: 0.2s ease-out;}
.main_visual-slider .swiper-prev {left: 50%; margin-left: -39.5%; background: rgba(0,0,0,0.2) url('/ktla-dev/source/img/arrow-left-white.svg') no-repeat center/18px auto;}
.main_visual-slider .swiper-next {right: 50%; margin-right: -39.5%; background: rgba(0,0,0,0.2) url('/ktla-dev/source/img/arrow-right-white.svg') no-repeat center/18px auto;}
.main_visual-slider .swiper-arrow:hover {background-color: rgba(46,169,169,0.5); border: 2px solid #2ea9a9}
.main_visual-slider .swiper-button-disabled {visibility: hidden; opacity: 0;}
.main_visual-slider .swiper-control {display: flex; flex-flow: row wrap; justify-content: center; align-items: center; position: absolute; bottom: 38%; left: 0; width: 100%;}
.main_visual-slider .swiper-pagination-bullets {position: static; bottom: inherit; left: inherit; width: auto; font-size: 0;}
.main_visual-slider .swiper-pagination-bullet {width: 12px; height: 12px; background: #fff; opacity: 0.5;}
.main_visual-slider .swiper-pagination-bullet-active {opacity: 1;}


/* Sub */
.sb_top {height: 300px;}
.sb_top.introduce_top {background:cornflowerblue;}
.sb_top.cs_top {background: slateblue;}
.sb_top .sb_title {font-size: 30px; font-weight: 700; color: #fff;}
.sb_top .sb_2menus_wrap {display: flex; flex-flow: row wrap; align-items: center; gap: 10px;}
.sb_top .sb_2menus_wrap > li {}
.sb_top .sb_2menus_wrap > li > a {font-size: 16px; font-weight: 300; color: #ddd;}
.sb_top .sb_2menus_wrap > li.act > a {font-weight: 500; color: #fff;}

