/* Header */
#header {position: fixed; width: 100%; z-index: 700;}
#hd_logo {position: absolute; top: 0; left: 70px; z-index: 10; height: 100px; line-height: 100px;}

#hd_logo img {width: 250px;}
#hd_gnb .depth1 {display: flex; flex-flow: row wrap; justify-content: center; align-items: flex-start; gap: 80px;}
#hd_gnb .depth1 > li {position: relative;}
#hd_gnb .depth1 > li > a {display: flex; height: 100px; align-items: center; font-size: 18px; font-weight: 500; color: #fff;}
#hd_gnb .depth2 {overflow: hidden; display: none; position: absolute; top: 70px; left: 50%; width: 200px; margin-left: -100px; padding: 13px 0; border-radius: 10px; background: #2ea9a9; text-align: center;}
#hd_gnb .depth2 > li > a {display: block; padding: 8px; font-size: 18px; font-weight: 400; color: #fff;}

#hd_gnb .depth1 > li:hover .depth2 {display: block;}

.hd_mb {position: absolute; top: 28px; right: 70px; z-index: 10;}
.hd_mb-btn {display: block; padding: 11px 15px; border-radius: 5px; font-size: 16px; font-weight: 400; color: #fff; background: #2ea9a9;}
.hd_mb-btn img {width: 24px; margin: -2px 2px 0 0;}

#header.black #hd_gnb .depth1 > li > a {color: #0f0f0f;}
#header.black2 {background: rgba(255,255,255,0.9); box-shadow: 0 5px 10px rgba(0,0,0,0.05);}
#header.black2 #hd_gnb .depth1 > li > a {color: #0f0f0f;}

/* Footer */
.partners {background: #f7f8fB;}
.partners .inner {display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center; height: 100px;}
.partners-title {width: 103px;}
.partners-title img {width: 24px; margin: -4px 8px 0 0;}
.partners-title .text {font-size: 18px; font-weight: 500; color: #0f0f0f;}

.partners-slider {overflow: hidden; width: calc(100% - 263px); margin-left: 160px;}
.partners-slider .swiper-wrapper {align-items: center;}
.partners-slider .partners-ci {display: block; width: auto;}

.fnb {border-bottom: 1px solid #e0e0e0; background: #fff;}
.fnb .inner {display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center; gap: 10px 20px;}
.fnb-menu {display: block; height: 60px; line-height: 60px; font-size: 16px; font-weight: 600; color: #666;}
.fnb-menu:hover {color: #44dede;}

.finfo {padding: 30px 0 35px; background: #fff;}
.finfo_company {display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center; gap: 20px 40px;}
.finfo_company .finfo-text {position: relative; font-size: 14px; color: #666;}
.finfo_company .finfo-text:after {content: ""; display: block; position: absolute; top: 3px; left: -20px; z-index: 1; height: 10px; border-left: 1px solid #e0e0e0;}
.finfo_company .finfo-text:first-child:after {display: none;}
.finfo_company .title {margin-right: 3px; font-weight: 400;}
.finfo_company .cont {font-weight: 300;}

.copyright {margin-top: 12px; font-size: 14px; font-weight: 300; color: #999;}

/* Main */
#main .section .sec_in {padding-top: 100px;}

.main_sec-title {}
.main_sec-title .big-title {font-size: 50px; font-weight: 700; color: #0f0f0f; line-height: 1.32;}
.main_sec-title .big-title span {color: #999;}
.main_sec-title .small-title {margin-top: 30px; font-size: 18px; font-weight: 300; color: #666; line-height: 1.56;}

.main_section01 .sec_in {height: 100%; padding-top: 0 !important;}
.main_visual-slider {height: 100%;}
.main_visual-slider .swiper-wrapper {height: 100%;}
.main_visual-item {height: 100%; background: url('/ktla-dev/source/img/main-visual-bg1.jpg') no-repeat center/cover;}
.main_visual_ct {display: flex; height: 100%; justify-content: center; align-items: center; text-align: center;}
.main_visual_ct .inner {margin-top: -8%;}
.main_visual_ct .small-txt {margin-bottom: 20px; font-size: 20px; font-weight: 400; color: #fff;}
.main_visual_ct .big-txt {font-size: 76px; font-weight: 500; color: #fff; line-height: 1.26;}
.main_visual_ct .big-txt strong {font-weight: 800;}

.main_visual-slider .swiper-arrow {display: block; position: absolute; top: 50%; z-index: 50; width: 120px; height: 120px; margin-top: -4.5%; border: 0; border-radius: 50%; opacity: 1; transition: 0.2s ease-out;}
.main_visual-slider .swiper-prev {left: 50%; margin-left: -39.5%; background: rgba(0,0,0,0.2) url('/ktla-dev/source/img/arrow-left-white.svg') no-repeat center/18px auto;}
.main_visual-slider .swiper-next {right: 50%; margin-right: -39.5%; background: rgba(0,0,0,0.2) url('/ktla-dev/source/img/arrow-right-white.svg') no-repeat center/18px auto;}
.main_visual-slider .swiper-arrow:hover {background-color: rgba(46,169,169,0.5); border: 2px solid #2ea9a9}
.main_visual-slider .swiper-button-disabled {visibility: hidden; opacity: 0;}
.main_visual-slider .swiper-control {display: flex; flex-flow: row wrap; justify-content: center; align-items: center; gap: 0 20px; position: absolute; bottom: 38%; left: 0; width: 100%;}
.main_visual-slider .swiper-pagination-bullets {display: flex; flex-flow: row wrap; justify-content: center; align-items: center; gap: 5px 10px; position: static; bottom: inherit; left: inherit; width: auto; font-size: 0;}
.main_visual-slider .swiper-pagination-bullet {width: 12px; height: 12px; margin: 0 !important; background: #fff; opacity: 0.5;}
.main_visual-slider .swiper-pagination-bullet-active {opacity: 1;}
.main_visual-slider .swiper-toggle {display: block; position: relative; z-index: 10; border: 0; background: none; font-size: 0; line-height: 1;}
.main_visual-slider .swiper-toggle img {margin-top: -2px; vertical-align: middle;}
.main_visual-slider .swiper-toggle.stop img {width: 7px;}
.main_visual-slider .swiper-toggle.play img {width: 11px;}

.main_section02 {background: url('/ktla-dev/source/img/main-news-bg.jpg') no-repeat center/cover;}
.main_news .inner {display: flex; flex-flow: row wrap; justify-content: space-between; align-items: flex-start;}
.main_news_lt {width: calc(100% - 820px); display: flex; flex-direction: column; justify-content: space-between; padding-bottom: 25px;}
.main_news-more {display: block; position: relative; width: 224px; max-width: 100%; margin-top: 4px; padding: 20px 0 20px 24px; border-bottom: 1px solid #ccc; font-size: 16px; font-weight: 500; color: #333; line-height: 1;}
.main_news-more:first-child {margin-top: 0;}
.main_news-more:before {content: ""; display: block; position: absolute; top: 26px; left: 10px; width: 4px; height: 4px; border-radius: 50%; background: #333;}
.main_news-more:after {content: ""; display: block; position: absolute; top: 50%; right: 7px; z-index: 1; width: 17px; height: 12px; margin-top: -6px; background: url('/ktla-dev/source/img/arrow2-right-black.svg') no-repeat center/contain;}
.main_news-more:hover {color: #2ea9a9; border-color: #2ea9a9;}
.main_news-more:hover:before {background: #2ea9a9;}
.main_news-more:hover:after {background: url('/ktla-dev/source/img/arrow2-right-pcolor.svg') no-repeat center/contain;}
.main_news_rt {width: 820px; margin-right: -11%; padding-top: 30px;}
.main_news_list {margin: -7px -10px;}
.main_news_list-item {padding: 7px 10px;}
.main_news_list-item:nth-child(2n) {margin-top: -30px;}
.main_news_list-box {display: block; overflow: hidden; position: relative; height: 300px; padding: 40px 45px; border-radius: 10px; background: #fff; box-shadow: 0 5px 10px 5px rgba(0,0,0,0.05);}
.main_news_list-box:after {content: ""; display: block; position: absolute; bottom: 0; left: 0; z-index: 1; width: 100%; height: 0; background: rgb(46,169,169); background: linear-gradient(130deg, rgba(46,169,169,1) 0%, rgba(39,129,159,1) 100%); border-radius: 10%; opacity: 0; transition: 0.3s;}
.main_news_list-box .label {position: relative; z-index: 5; font-size: 18px; font-weight: 600; color: #2ea9a9; line-height: 1;}
.main_news_list-box .label:after {content: "+"; position: absolute; top: -4px; right: 0; z-index: 1; font-size: 24px; font-weight: 500; color: #2ea9a9; line-height: 1;}
.main_news_list-box .subj {position: relative; z-index: 5; margin: 20px 0; font-size: 24px; font-weight: 500; color: #0f0f0f; line-height: 1.4; max-height: 2.8em;}
.main_news_list-box .cont {position: relative; z-index: 5; font-size: 16px; font-weight: 300; color: #666; line-height: 1.5; height: 3em; max-height: 3em;}
.main_news_list-box .date {position: relative; z-index: 5; margin-top: 25px; font-size: 16px; font-weight: 300; color: #999; line-height: 1;}
.main_news_list-box:hover:after {width: 100%; height: 100%; border-radius: 0; opacity: 1;}
.main_news_list-box:hover .label {color: #fff;}
.main_news_list-box:hover .label:after {color: #fff;}
.main_news_list-box:hover .subj {color: #fff;}
.main_news_list-box:hover .cont {color: #fff;}
.main_news_list-box:hover .date {color: #fff;}

.main_news_list-item.noti-zone {}
.main_news_list-item.noti-zone img {position: absolute; top: 0; left: 0; z-index: 5; object-fit: cover;}

.main_section03 {background: url('/ktla-dev/source/img/main-quick-bg.jpg') no-repeat center/cover;}
.main_quick {display: block; overflow: hidden; width: 100%;}
.main_quick .main_sec-title .big-title {color: #fff;}
.main_quick .main_sec-title .big-title span {color: rgba(255,255,255,0.6);}
.main_quick .main_sec-title .small-title {color: #fff;}

.main_quick_list {display: flex; position: relative; flex-flow: row wrap; justify-content: center; align-items: center; margin-top: 50px;}
.main_quick_list:after {content: ""; display: block; position: absolute; top: 100px; left: 100%; z-index: 1; width: 50%; border-top: 1px solid rgba(255,255,255,0.2);}
.main_quick_list-item {position: relative; width: calc(33.333% - 17px); margin-left: 25px; padding: 50px 60px; border-radius: 35px;}
.main_quick_list-item:before {content: ""; display: block; position: absolute; top: 96.5px; left: 60px; z-index: 2; width: 8px; height: 8px; border: 1px solid #fff; border-radius: 50%; background: #2A4460;}
.main_quick_list-item:after {content: ""; display: block; position: absolute; top: 100px; left: -12.5px; z-index: 1; width: calc(100% + 25px); border-top: 1px solid rgba(255,255,255,0.2);}
.main_quick_list-item:first-child {margin-left: 0;}
.main_quick_list-item:first-child:after {left: 60px; width: calc(100% - 47.5px);}
.main_quick_list-item .title {font-size: 26px; font-weight: 600; color: #fff; line-height: 1;}
.main_quick_list-item .expl {margin-top: 45px; font-size: 16px; font-weight: 300; color: #eee; line-height: 1.5;}
.main_quick_list-item .quick-btns {margin-top: 36px;}
.main_quick_list-item .quick-btn {display: block; position: relative; width: 200px; max-width: 100%; height: 60px; line-height: 58px; margin-top: 10px; padding: 0 30px; border: 1px solid #fff; border-radius: 10px; font-size: 16px; font-weight: 500; color: #fff;}
.main_quick_list-item .quick-btn:after {content: ""; display: block; position: absolute; top: 50%; right: 30px; z-index: 1; width: 17px; height: 12px; margin-top: -6px; background: url('/ktla-dev/source/img/arrow2-right-white.svg') no-repeat center/contain;}
.main_quick_list-item .quick-btn:first-child {margin-top: 0;}
.main_quick_list-item .quick-btn:hover {color: #2ea9a9; background: #fff;}
.main_quick_list-item .quick-btn:hover:after {background: url('/ktla-dev/source/img/arrow2-right-pcolor.svg') no-repeat center/contain;}

.main_quick_list-item.act {background: rgb(46,169,169); background: linear-gradient(130deg, rgba(46,169,169,1) 0%, rgba(39,129,159,1) 100%);}
.main_quick_list-item.act:before {background: #fff;}


/* Sub */
.sb_top {}
.sb_top.introduce_top {background: url('/ktla-dev/source/img/sb-top-bg-introduce.jpg') no-repeat center/cover;}
.sb_top.organization_top {background: url('/ktla-dev/source/img/sb-top-bg-introduce.jpg') no-repeat center/cover;}
.sb_top.community_top {background: url('/ktla-dev/source/img/sb-top-bg-community.jpg') no-repeat center/cover;}
.sb_top.seminar_top {background: url('/ktla-dev/source/img/sb-top-bg-seminar.jpg') no-repeat center/cover;}
.sb_top.cs_top {background: slateblue;}
.sb_top_ct {display: flex; flex-flow: column wrap; align-items: center; justify-content: center; height: 650px; padding-top: 95px;}
.sb_top .sb_title-eng {font-size: 20px; font-weight: 400; color: #fff;}
.sb_top .sb_title {margin: 12px 0 120px; font-size: 70px; font-weight: 700; color: #fff;}
.sb_top .sb_menus {display: flex; position: relative; flex-flow: row wrap; justify-content: center; align-items: center;}
.sb_menus-arrow {width: 8px; opacity: 0.4;}
.sb_menus-arrow.arrow1 {margin: 0 26px;}
.sb_menus-arrow.arrow2 {margin: 0 30px 0 40px;}
.sb_menus-home {display: block; padding: 12px 0;}
.sb_top .sb_menus-home img {width: 24px;}
.sb_menus-sel {min-width: 180px; height: auto; line-height: normal; padding: 12px 0; font-size: 18px; font-weight: 500; color: #fff; background: transparent; border: 0; border-bottom: 1px solid #fff; border-radius: 0;}
.sb_menus-sel:after {right: 3px; width: 8px; height: 8px; margin-top: -6px; border-color: #fff;}
.sb_menus-sel .option {height: 34px; line-height: 34px; font-size: 14px; font-weight: 400; color: #333;}
.sb_menus-sel .option:hover,
.sb_menus-sel .option.focus,
.sb_menus-sel .option.selected.focus {font-weight: 600;}

.sub_contents {padding: 100px 0 140px;}
.sub_title_box {padding-bottom: 70px;}
.sub_title {font-weight: 300; font-size: 50px; color: #0f0f0f; line-height: 1.32;}
.sub_title .bold {font-weight: 700;}
.sub_sb-expl {margin-top: 40px; font-size: 18px; font-weight: 400; color: #333; line-height: 1.67;}
.sub_s-expl {font-size: 18px; font-weight: 300; color: #666; line-height: 1.67;}

.btn_wrap {padding-top: 30px;}
.btn_wrap .btn_box {text-align: center;}
.btn_wrap .btn_box .btn {max-width: 300px; width: 100%; border-radius: 5px; font-weight: 500; font-size: 20px; color: #fff; text-align: center; background-color: #2EA9A9; display: inline-block; height: 70px; line-height: 70px;}

.sub-tab {}
.sub-tab .inner {display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center; gap: 10px 40px;}
.sub-tab-btn {display: block; position: relative; border: 0; font-size: 18px; font-weight: 500; color: #ccc; background: #fff;}
.sub-tab-btn:after {content: ""; display: block; position: absolute; top: 50%; left: -20px; z-index: 1; height: 16px; margin-top: -8px; border-left: 1px solid #eee;}
.sub-tab-btn:first-child:after {display: none;}
.sub-tab-btn.act {font-weight: 600; color: #2ea9a9;}
.sub-tab-btn:not(.act):hover {color: #333;}
.sub-tab-ct {}

/* 협회 안내 */
.aboutus-banner {margin-bottom: 70px; font-size: 0; text-align: right;}
.aboutus-banner-img {display: inline-block; overflow: hidden; width: calc(50% + 640px); max-width: 100%; height: 500px; border-radius: 100px 0 0 0; background: url('/ktla-dev/source/img/aboutus-banner.jpg') no-repeat bottom center/cover;}

#aboutus .sub_title_box {padding-bottom: 40px;}
.aboutus-text {font-size: 18px; font-weight: 300; color: #666; line-height: 1.67;}

.aboutus-summary {margin-top: 70px;}
.aboutus-summary .inner {display: flex; flex-flow: row wrap; justify-content: center; align-items: center; gap: 30px;}
.aboutus-summary-list {display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: flex-start; width: calc(33.333% - 20px); padding: 33px 55px 30px 33px; border: 1px solid #e6e6e6; border-radius: 10px;}
.aboutus-summary-list .icon {width: 50px;}
.aboutus-summary-list .text {width: calc(100% - 50px); padding-left: 20px;}
.aboutus-summary-list .title {font-size: 20px; font-weight: 600; color: #0f0f0f;}
.aboutus-summary-list .expl {margin-top: 10px; font-size: 16px; font-weight: 300; color: #666; line-height: 1.5;}

/* 주요 사업 */
#business-major-ct {display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center; gap: 20px;}
#business-major-ct .business-major-list {width: calc(50% - 10px); min-height: 180px; padding: 40px 50px; border-radius: 10px; background: #fafafa;}
#business-major-ct .business-major-list .num {font-size: 16px; font-weight: 700; color: #2ea9a9;}
#business-major-ct .business-major-list .text {margin-top: 15px; font-size: 24px; font-weight: 500; color: #333; line-height: 1.3;}

/* 임원단 */
#executive .mark {font-size: 16px; font-weight: 300; color: #2ea9a9;}

.executive-tab {}
.executive-tab .inner {display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center; gap: 10px 40px;}
.executive-tab-btn {display: block; position: relative; border: 0; font-size: 18px; font-weight: 500; color: #ccc; background: #fff;}
.executive-tab-btn:after {content: ""; display: block; position: absolute; top: 50%; left: -20px; z-index: 1; height: 16px; margin-top: -8px; border-left: 1px solid #eee;}
.executive-tab-btn:first-child:after {display: none;}
.executive-tab-btn.act {font-weight: 600; color: #2ea9a9;}
.executive-tab-btn:not(.act):hover {color: #333;}

.executive-ct {margin-top: 60px;}
#executive-ct-tit {padding-left: 12px; font-size: 20px; font-weight: 700; color: #0f0f0f;}
#executive-ct-tit:before {content: ""; display: inline-block; width: 5px; height: 5px; margin: 10px 12px 0 0; border-radius: 50%; background: #0f0f0f; vertical-align: top;}
#executive-ct-tit span {margin-left: 15px; font-size: 16px; font-weight: 300; color: #999;}
#executive-ct-tb {width: 100%; margin-top: 15px; border-top: 2px solid #666; border-bottom: 2px solid #666;}
#executive-ct-tb tbody th {width: 200px; padding: 20px 10px 20px 30px; border-bottom: 1px solid #eee; font-size: 16px; font-weight: 400; color: #333; text-align: left; background: #fff;}
#executive-ct-tb tbody td {padding: 20px 30px; border-bottom: 1px solid #eee; text-align: left; background: #fff; line-height: 1.7;}
#executive-ct-tb tbody td .person_wrap {display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center; gap: 20px 0;}
#executive-ct-tb tbody td .person_wrap .person {font-size: 16px; font-weight: 300; color: #666;}
#executive-ct-tb tbody td .person_wrap .person:before {content: "/"; display: inline-block; vertical-align: middle; margin: -4px 7px 0;}
#executive-ct-tb tbody td .person_wrap .person:first-child:before {display: none;}

/* 연혁 */
.hissemi-ct {margin-top: 60px;}

.history-ct {display: block;}
#history-ct-tit {padding-left: 12px; font-size: 20px; font-weight: 700; color: #0f0f0f;}
#history-ct-tit:before {content: ""; display: inline-block; width: 5px; height: 5px; margin: 10px 12px 0 0; border-radius: 50%; background: #0f0f0f; vertical-align: top;}

.history-ct_wrap {margin-top: 15px; padding: 25px 0; border-top: 2px solid #666; border-bottom: 2px solid #666;}
.history-box {display: flex; position: relative; margin-top: 25px; flex-flow: row wrap; justify-content: flex-start; align-items: flex-start;}
.history-box:before {content: ""; display: block; position: absolute; top: -25px; left: 155px; z-index: 1; border-left: 1px solid #eee; height: calc(100% + 25px);}
.history-box:after {content: ""; display: block; position: absolute; top: 11px; left: 151px; z-index: 2; width: 9px; height: 9px; border-radius: 2px; background: #2ea9a9;}
.history-box:first-child {margin-top: 0;}
.history-box:first-child:before {top: 15px; height: calc(100% - 15px);}
.history-box:last-child:before {height: 36px;}
.history-box .year {width: 155px; margin-top: 5px; font-size: 18px; font-weight: 500; color: #333; text-align: center;}
.history-box .substance {width: calc(100% - 155px); padding: 0 30px 0 65px;}
.history-box .substance .text {position: relative; font-size: 16px; font-weight: 300; color: #666; padding-left: 10px; text-indent: 0; line-height: 1.875;}
.history-box .substance .text:before {content: "-"; display: block; position: absolute; top: 7px; left: 0; z-index: 1; font-size: 16px; font-weight: 300; color: #666; line-height: 1;}

/* 세미나 현황 */
.seminar-ct {display: none;}
#seminar-ct-tit {padding-left: 12px; font-size: 20px; font-weight: 700; color: #0f0f0f;}
#seminar-ct-tit:before {content: ""; display: inline-block; width: 5px; height: 5px; margin: 10px 12px 0 0; border-radius: 50%; background: #0f0f0f; vertical-align: top;}

.seminar-ct_wrap {margin-top: 15px; border-top: 2px solid #666;}
.seminar-box {border-bottom: 1px solid #d9d9d9;}
.seminar-box .year {height: 90px; line-height: 90px; padding-left: 30px; font-size: 20px; font-weight: 500; color: #333; background: #fff url('/ktla-dev/source/img/arrow-down-black.svg') no-repeat center right 26px/16px auto; cursor: pointer;}
.seminar-box .seminar-group {display: none; padding: 0 60px; background: #fafafa;}
.seminar-group .substance {display: flex; position: relative; flex-flow: row wrap; justify-content: flex-start; align-items: flex-start; padding: 40px 0; border-top: 1px solid #d9d9d9;}
.seminar-group .substance:first-child {border-top: 0;}
.seminar-group .substance .title {width: 230px;}
.seminar-group .substance .expl {width: calc(100% - 230px); font-size: 16px; font-weight: 300; color: #666; line-height: 1.625;}
.seminar-group .substance .expl b {font-weight: 400; color: #333; line-height: 2;}

.seminar-box.act .year {background: #fff url('/ktla-dev/source/img/arrow-up-black.svg') no-repeat center right 26px/16px auto;}
.seminar-box.act .seminar-group {}

/* 회칙 */
.rules-ct {margin-top: 60px; padding: 70px 0; background: #fafafa;}
.rules-ct_wrap {min-height: 500px; padding: 40px 60px 60px; background: #fff;}
.rules-box {margin-top: 74px;}
.rules-box:first-child {margin-top: 0;}

.rules-paragraph {margin-top: 17px; padding: 0 10px;}
.rules-paragraph .depth1 {}
.rules-paragraph .depth2 {margin-top: 8px;}
.rules-paragraph .depth3 {padding: 16px 0 8px 10px;}

.rules-tit {margin-bottom: 30px; padding: 0 10px 18px; border-bottom: 2px solid #666; font-size: 30px; font-weight: 700; color: #0f0f0f; line-height: auto;}
.rules-txt1 {font-size: 16px; font-weight: 400; color: #333; line-height: auto;}
.rules-txt2 {font-size: 16px; font-weight: 300; color: #666; line-height: 1.75;}
.rules-txt2.indent {padding-left: 17px; text-indent: -17px;}

.rules-general-ct {display: block;}

.rules-commendation-ct {display: none;}


/* 참가안내 */
.participation_method_list {border-top: 2px solid #666; border-bottom: 2px solid #666;}
.participation_method_list li {display: flex; align-items: flex-start; border-bottom: 1px dashed #ccc; padding: 40px 9px 50px;}
.participation_method_list li:last-child {border-bottom: none;}
.participation_method_title {font-weight: 700; font-size: 30px; color: #0f0f0f; width: 310px;}
.participation_method_item {font-weight: 300; font-size: 16px; color: #666; position: relative; padding-left: 10px; line-height: 1.875;}
.participation_method_item::before {content: '-'; font-weight: 300; font-size: 16px; color: #666; position: absolute; top: 0; left: 0;}

/* 온라인 등록 */
.regi_expl_wrap {}
.regi_expl_box {border-radius: 10px; background-color: #fafafa; padding: 40px 50px;}
.regi_expl_box .expl01 {font-weight: 500; font-size: 24px; color: #333;}
.regi_expl_box .expl02 {font-weight: 300; font-size: 16px; color: #666; line-height: 1.625; padding-top: 18px;}
.regi_expl_info_ul {padding-top: 26px; margin: 0 -20px;}
.regi_expl_info_ul li {padding: 0 20px; font-size: 0;}
.regi_expl_info_ul li > * {display: inline-block; vertical-align: middle; font-size: 16px;}
.regi_expl_info_ul li .title {font-weight: 500; font-size: 16px; color: #2EA9A9; border: 1px solid #2EA9A9; border-radius: 999px; padding: 6px 15px;}
.regi_expl_info_ul li .content {font-weight: 500; font-size: 16px; color: #333; padding-left: 10px;}

.regi_form_wrap {padding-top: 60px;}
.regi_form_list {border-top: 2px solid #666; border-bottom: 2px solid #666;}
.regi_form_li {display: inline-block; font-size: 0; padding: 0 50px 0 10px; position: relative; border-bottom: 1px solid #eee;}
.regi_form_li:last-child {border-bottom: none;}
.regi_form_li:nth-child(2n) {padding-left: 60px;}
.regi_form_li:nth-child(2n)::before {content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 15px; background-color: #e0e0e0;}
.regi_form_li_inner {display: flex; align-items: center; min-height: 70px;}
.regi_form_li_inner > * {display: inline-block; vertical-align: middle; font-size: 16px;}
.regi_form_title {font-weight: 500; font-size: 16px; color: #0f0f0f; width: 120px;}
.regi_form_content {width: calc(100% - 120px);}

.input_wrap {}
.input_wrap .input-text {width: 100%; border: 1px solid #EBEFFA; border-radius: 5px; background-color: #F7F8FB; height: 45px; padding: 0 20px; font-weight: 300; font-size: 16px; color: #0f0f0f;}
.input_wrap .input-text::placeholder {font-weight: 300; font-size: 16px; color: #999;}

.regi_form_caption {font-weight: 400; font-size: 16px; color: #666; line-height: 1.625; padding: 16px 10px;}

/* 등록확인 */
.regi_confirm_caption {font-weight: 400; font-size: 16px; color: #666; line-height: 1.625; padding-bottom: 50px;}

.regi_confirm_ct {}
.regi_confirm_title {font-weight: 700; font-size: 20px; color: #0f0f0f; position: relative; padding-left: 15px; margin-bottom: 15px;}
.regi_confirm_title::before {content: ''; width: 6px; height: 6px; border-radius: 50%; background-color: #0f0f0f; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
.regi_confirm_list {border-top: 2px solid #666; border-bottom: 2px solid #666;}
.regi_confirm_list table {width: 100%;}
.regi_confirm_list table thead tr {border-bottom: 1px solid #eee;}
.regi_confirm_list table thead tr th {font-weight: 500; font-size: 16px; color: #333; padding: 18.7px 0; background-color: #fafafa;}
.regi_confirm_list table tbody tr {border-bottom: 1px solid #eee;}
.regi_confirm_list table tbody tr:last-child {border-bottom: none;}
.regi_confirm_list table tbody tr td {text-align: center; padding: 12px 3px;}
.regi_confirm_list table tbody tr .td-num {width: 90px;}
.regi_confirm_list table tbody tr .td-name {width: 160px;}
.regi_confirm_list table tbody tr .td-content {}
.regi_confirm_list table tbody tr .td-date {width: 140px;}
.regi_confirm_list table tbody tr .td-status {width: 140px;}
.regi_confirm_list table tbody tr .td-confirm {width: 140px;}
.regi_confirm_list table tbody tr .td-btn {width: 120px;}
.regi_confirm_list table tbody tr td .confirm-btn {border: 1px solid #2EA9A9; border-radius: 8px; font-weight: 300; font-size: 14px; color: #2EA9A9; text-align: center; width: 84px; height: 33px; background-color: #fff;}
.regi_confirm_list table tbody tr td.td-btn {font-size: 0;}
.regi_confirm_list table tbody tr td .td-btn-item {display: inline-block; vertical-align: middle; padding: 0 12px; position: relative;}
.regi_confirm_list table tbody tr td .td-btn-item::before {content: ''; width: 1px; height: 15px; background-color: #ccc; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
.regi_confirm_list table tbody tr td .td-btn-item:first-child::before {display: none;}
.regi_confirm_list table tbody tr td .td-btn-item .tb-btn {font-size: 16px; font-weight: 300; font-size: 16px; color: #999; border: none; background-color: transparent;}

/* 회원교 명단 */
.consonant_category_ul {margin: 0 -22px;}
.consonant_category_ul li {padding: 0 22px; position: relative;}
.consonant_category_ul li::after {content: ''; width: 1px;  height: 15px; background-color: #eee; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.consonant_category_ul li:last-child::after {display: none;}
.consonant_category_ul li button {font-weight: 500; font-size: 18px; color: #ccc; border: none; background-color: transparent;}
.consonant_category_ul li.active button {font-weight: 600; color: #2EA9A9;}

.member_list_box {padding-top: 60px;}
.member_list {margin: -10px;}
.member_list li {padding: 10px;}
.member_list_inner {border-radius: 10px; border: 1px solid #E6E6E6; padding: 29px 50px 30px;}
.member_list_inner .title {font-weight: 500; font-size: 18px; color: #333; padding-bottom: 40px; position: relative;}
.member_list_inner .title::before {content: ''; width: 18px; height: 2px; background-color: #666; position: absolute; bottom: 20px; left: 0;}
.member_list_info {}
.member_list_info_item {font-weight: 300; font-size: 16px; color: #666; line-height: 1.875;}
.member_list_info_item.address::before {content: 'A.  '; font-weight: 400; font-size: 16px; color: #333;}
.member_list_info_item.tel::before {content: 'T.  '; font-weight: 400; font-size: 16px; color: #333;}