@media screen and (max-width:1600px){
  /* Header */
  #hd_logo {left: 40px;}
  #hd_gnb .depth1 {gap: 0 40px;}
  .hd_mb {right: 40px;}

  /* Main */
  .main_sec-title .big-title {font-size: 40px;}

  .main_visual-slider .swiper-arrow {width: 80px; height: 80px;}
  .main_visual-slider .swiper-prev {left: 40px; margin-left: 0;}
  .main_visual-slider .swiper-next {right: 40px; margin-right: 0;}

  .main_news_lt {width: calc(100% - 740px);}
  .main_news_rt {width: 740px; margin-right: 0;}
  .main_news_list-box {height: 270px; padding: 30px 40px;}
  .main_news_list-box .subj {font-size: 20px;}

  /* Sub */
  .sb_top_ct {height: 500px;}
  .sb_top .sb_title {margin: 12px 0 70px;}

  .sub_title_box {padding-bottom: 50px;}
  .sub_title {font-size: 40px;}

  /* 협회 안내 */
  .aboutus-banner {padding-left: 40px;}
  .aboutus-banner-img {width: 100%; height: 450px;}

  /* 주요 사업 */
  #business-major-ct .business-major-list {min-height: auto;}
  #business-major-ct .business-major-list .text {font-size: 20px;}

  /* 임원단 */
  .executive-tab .inner {display: none;}
  .executive-sel_wrap {display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center;}
  .executive-sel-tit {display: block; width: 82px; height: 42px; line-height: 42px; font-size: 14px; font-weight: 500; color: #fff; border-radius: 5px 0 0 5px; background: #2ea9a9; text-align: center;}
  .executive-sel {float: none; width: 200px; max-width: calc(100% - 82px); height: 42px; line-height: 40px; border-left: 0; border-radius: 0 5px 5px 0;}
}

@media screen and (max-width:1290px){
  /* Common */
  .container {padding-left: 30px; padding-right: 30px;}

  /* Header */
  #hd_logo {left: 30px;}

  #hd_gnb .depth1 {gap: 0 20px; margin-right: -100px;}
  #hd_gnb .depth1 > li > a {font-size: 16px;}
  #hd_gnb .depth2 {width: 150px; margin-left: -75px;}
  #hd_gnb .depth2 > li > a {font-size: 16px;}

  .hd_mb {right: 30px;}

  /* Footer */
  .partners-title img {width: 20px; margin: -4px 5px 0 0;}
  .partners-title .text {font-size: 16px;}
  .partners-slider {width: calc(100% - 153px); margin-left: 50px;}
  .partners-slider .partners-ci img {width: 80%;}

  /* Main */
  #main .section .sec_in {padding-top: 70px;}

  .main_sec-title .big-title {font-size: 34px;}
  .main_sec-title .small-title {font-size: 16px;}
  .main_section02 .main_sec-title .big-title br,
  .main_section02 .main_sec-title .small-title br {display: none;}

  .main_visual_ct .big-txt {font-size: 50px;}
  .main_visual_ct .small-txt {font-size: 16px;}

  .main_news_lt {width: 30%;}
  .main_news_rt {width: 70%; padding-left: 40px;}
  .main_news_list-box {height: 230px; padding: 30px 25px;}
  .main_news_list-box .label {font-size: 16px;}
  .main_news_list-box .subj {margin: 10px 0; font-size: 18px;}
  .main_news_list-box .cont {font-size: 14px;}
  .main_news_list-box .date {font-size: 14px;}

  .main_quick_list:after {display: none;}
  .main_quick_list-item {padding: 40px;}
  .main_quick_list-item:before {left: 40px;}
  .main_quick_list-item:after {left: 40px;}
  .main_quick_list-item:first-child:after {left: 40px; width: calc(100% - -20px);}
  .main_quick_list-item .quick-btns {margin-top: 20px;}

  /* Sub */
  .sb_top_ct {height: 450px;}
  .sb_top .sb_title-eng {font-size: 18px;}
  .sb_top .sb_title {margin: 12px 0 70px; font-size: 50px;}

  .sub_title_box {padding-bottom: 30px;}
  .sub_title {font-size: 34px;}

  /* 협회 안내 */
  .aboutus-banner {padding-left: 30px;}
  .aboutus-banner-img {height: 400px;}

  .aboutus-summary .inner {gap: 10px;}
  .aboutus-summary-list {width: calc(33.333% - 7px); padding: 30px 20px;}
  .aboutus-summary-list .icon {width: 40px;}
  .aboutus-summary-list .text {width: calc(100% - 40px);}
  .aboutus-summary-list .expl {margin-top: 5px;}

  /* 주요 사업 */
  #business-major-ct .business-major-list .text {font-size: 18px;}

  /* 임원단 */
  .executive-ct {margin-top: 40px;}
}

@media screen and (max-width:1023px){
  /* Common */
  html, body {overflow-x: hidden !important; height: auto !important;}

  /* Header */
  #header {height: 100px;}
  #hd_gnb {display: none !important;}
  .hd_mb {display: none;}

  /* Main */
  #main {height: auto !important;}
  #main .section {display: block !important; height: auto !important; table-layout: inherit !important;}
  #main .fp-tableCell {display: block !important; height: auto !important;}
  #main .section .sec_in {height: auto !important; padding: 70px 0;}
  #main .main_section01 .sec_in {padding: 0 !important;}

  .main_sec-title .small-title {margin-top: 10px;}

  .main_visual-slider {height: auto;}
  .main_visual-slider .swiper-wrapper {height: auto;}
  .main_visual-item {height: 500px;}
  .main_visual_ct .inner {width: calc(100% - 140px); margin: 0 auto;}
  .main_visual-slider .swiper-control {bottom: 30px;}
  .main_visual-slider .swiper-arrow {width: 60px; height: 60px; margin-top: -2.5%;}
  .main_visual-slider .swiper-prev {left: 30px; margin-left: 0;}
  .main_visual-slider .swiper-next {right: 30px; margin-right: 0;}

  .main_news .inner {display: block;}
  .main_news_lt {display: block; width: 100%;}
  .main_news-more_wrap {display: flex; flex-flow: row wrap; justify-content: flex-start; align-items: center; margin-top: 20px;}
  .main_news-more {width: 135px; margin-top: 0; margin-left: 10px; padding: 10px 0 10px 15px; border: 1px solid #ccc; border-radius: 5px; font-size: 14px;}
  .main_news-more:first-child {margin-left: 0;}
  .main_news-more:before {display: none;}
  .main_news-more:after {right: 15px;}
  .main_news_rt {display: block; width: 100%; padding-left: 0;}
  .main_news_list-box {height: 230px;}

  .main_quick_list {margin-top: 30px;}
  .main_quick_list-item {padding: 25px 20px; border-radius: 20px;}
  .main_quick_list-item:before,
  .main_quick_list-item:after {display: none;}
  .main_quick_list-item .title {font-size: 18px;}
  .main_quick_list-item .expl {min-height: 42px; margin-top: 10px; font-size: 14px;}
  .main_quick_list-item .quick-btn {height: 45px; line-height: 45px; font-weight: 400; padding: 0 15px; font-size: 14px;}
  .main_quick_list-item .quick-btn:after {right: 15px;}

  /* Sub */
  .sb_top_ct {height: 350px;}
  .sb_top .sb_title-eng {font-size: 16px;}
  .sb_top .sb_title {margin: 12px 0 30px; font-size: 40px;}

  .sb_menus-sel {min-width: auto; width: auto; padding: 12px 20px 12px 0; font-size: 16px;}

  .sub_title {font-size: 26px;}

  /* 협회 안내 */
  .aboutus-banner-img {height: 200px;}
  
  .aboutus-summary {margin-top: 50px;}
  .aboutus-summary-list {padding: 20px;}
  .aboutus-summary-list .icon {width: 30px;}
  .aboutus-summary-list .text {width: calc(100% - 30px);}
  .aboutus-summary-list .title {font-size: 18px;}
  .aboutus-summary-list .expl {font-size: 14px;}

  /* 주요 사업 */
  #business-major-ct .business-major-list {padding: 30px;}
  #business-major-ct .business-major-list .text {margin-top: 5px; font-size: 16px;}

  /* 임원단 */
  #executive-ct-tit {font-size: 18px;}
  #executive-ct-tit:before {margin-top: 8px;}
  #executive-ct-tit span {font-size: 14px;}
  #executive-ct-tb tbody th {width: 150px; padding: 20px 10px; font-size: 14px;}
  #executive-ct-tb tbody td {padding: 20px 10px;}
  #executive-ct-tb tbody td .person_wrap .person {font-size: 14px;}
}

@media screen and (max-width:767px){
  /* Common */
  .container {padding-left: 20px; padding-right: 20px;}

  /* Header */
  #header {height: 60px;}
  #hd_logo {left: 20px; height: 60px;}
  #hd_logo img {width: 200px;}

  /* Footer */
  .partners .inner {display: block; height: auto; padding: 10px 0;}
  .partners-title {display: none; width: 100%;}
  .partners-title .text {font-size: 12px;}
  .partners-title img {width: 15px; margin: -2px 0px 0 0;}
  .partners-slider {width: 100%; height: 50px; margin-left: 0;}
  .partners-slider .partners-ci {display: block; height: auto;}
  .partners-slider .partners-ci {width: 100px;}
  .partners-slider .partners-ci:nth-child(1) {width: 80px;}
  .partners-slider .partners-ci:nth-child(2) {width: 72px;}
  .partners-slider .partners-ci:nth-child(3) {width: 68px;}
  .partners-slider .partners-ci:nth-child(4) {width: 27px;}
  .partners-slider .partners-ci:nth-child(5) {width: 57px;}

  .fnb-menu {height: 50px; line-height: 50px; font-size: 12px;}

  .finfo {padding: 20px 0;}
  .finfo_company {gap: 5px 10px}
  .finfo_company .finfo-text {font-size: 12px; line-height: 1.6;}
  .copyright {font-size: 12px;}

  /* Main */
  #main .section .sec_in {padding: 50px 0;}

  .main_sec-title .big-title {font-size: 20px;}
  .main_sec-title .small-title {font-size: 14px;}

  .main_visual-item {height: 400px;}
  .main_visual_ct .inner {width: calc(100% - 40px); margin: 0 auto;}
  .main_visual_ct .big-txt {font-size: 20px;}
  .main_visual_ct .small-txt {font-size: 12px;}
  .main_visual-slider .swiper-arrow {width: 30px; height: 30px; margin-top: -2.5%; background-size: 10px auto;}
  .main_visual-slider .swiper-prev {left: 10px;}
  .main_visual-slider .swiper-next {right: 10px;}

  .main_news .inner {position: relative;}
  .main_news-more {width: 120px; font-size: 12px;}
  .main_news_rt {padding-top: 0;}
  .main_news_list {margin: 0;}
  .main_news_list-item {display: block; width: 100%; margin-top: 10px; padding: 0;}
  .main_news_list-item:first-child {margin-top: 0;}
  .main_news_list-item:nth-child(2n) {margin-top: 10px;}
  .main_news_list-box {height: auto; padding: 20px;}
  .main_news_list-item.noti-zone .main_news_list-box {width: 100%; height: 212px;}
  .main_news_list-box .label {font-size: 14px;}
  .main_news_list-box .label:after {top: -6px;}
  .main_news_list-box .subj {margin: 15px 0 10px; font-size: 16px;}
  .main_news_list-box .date {margin-top: 10px; font-size: 12px;}

  .main_quick_list {display: block;}
  .main_quick_list-item {width: 100%; margin-top: 10px; margin-left: 0; background: rgba(46,169,169, 0.7); background: linear-gradient(130deg, rgba(46,169,169,0.7) 0%, rgba(39,129,159,0.7) 100%);}
  .main_quick_list-item:first-child {margin-top: 0;}
  .main_quick_list-item .title {font-size: 16px;}
  .main_quick_list-item .expl {min-height: auto;}
  .main_quick_list-item .expl br {display: none;}
  .main_quick_list-item .quick-btns {margin-top: 10px;}
  .main_quick_list-item .quick-btn {width: 100%; font-size: 12px;}

  /* Sub */
  .sb_top_ct {height: 300px; padding-top: 60px;}
  .sb_top .sb_title-eng {font-size: 14px;}
  .sb_top .sb_title {margin: 12px 0 20px; font-size: 30px;}

  .sb_top .sb_menus-home img {width: 20px;}
  .sb_menus-sel {width: 96px; font-size: 14px;}
  .sb_menus-arrow.arrow1 {margin: 0 10px;}
  .sb_menus-arrow.arrow2 {margin: 0 15px;}

  .sub_contents {padding: 50px 0 70px;}

  .sub_title_box {padding-bottom: 20px;}
  .sub_title {font-size: 20px;}
  .sub_title br {display: none;}

  /* 협회 안내 */
  .aboutus-banner {padding-left: 20px; margin-bottom: 30px;}
  .aboutus-banner-img {height: 150px;}

  #aboutus .sub_title_box {padding-bottom: 20px;}
  .aboutus-text {font-size: 14px;}

  .aboutus-summary {margin-top: 30px;}
  .aboutus-summary .inner {flex-flow: column wrap;}
  .aboutus-summary-list {width: 100%;}
  .aboutus-summary-list .title {font-size: 14px;}

  /* 주요 사업 */
  #business-major-ct {flex-flow: column wrap;}
  #business-major-ct .business-major-list {width: 100%; padding: 20px;}
  #business-major-ct .business-major-list .text {font-size: 14px;}

  /* 임원단 */
  #executive-ct-tit {padding-left: 5px; font-size: 16px;}
  #executive-ct-tit:before {margin: 7px 5px 0 0;}
  #executive-ct-tit span {font-size: 12px; margin-left: 5px;}
  #executive .mark {font-size: 12px;}

  #executive-ct-tb,
  #executive-ct-tb tbody,
  #executive-ct-tb tbody tr,
  #executive-ct-tb tbody th,
  #executive-ct-tb tbody td {display: block; width: 100%;}
  #executive-ct-tb tbody th {padding: 10px; background: #fafafa;}
  #executive-ct-tb tbody td .person_wrap {gap: 3px 0;}
}